In [22]:
import pandas as pd
import numpy as np
import os.path

In [23]:
os.listdir('Data/Ganjil 2011/')

['Base_Ganjil_2011.csv', 'Data_Ganjil_2011.csv', 'Url_Profile_Ganjil_2011.csv']

In [24]:
Ganjil_2011 = pd.read_csv('Data/Ganjil 2011/Data_Ganjil_2011.csv')
Ganjil_2012 = pd.read_csv('Data/Ganjil 2012/Data_Ganjil_2012.csv')
Ganjil_2013 = pd.read_csv('Data/Ganjil 2013/Data_Ganjil_2013.csv')
Ganjil_2014 = pd.read_csv('Data/Ganjil 2014/Data_Ganjil_2014.csv')
Ganjil_2015 = pd.read_csv('Data/Ganjil 2015/Data_Ganjil_2015.csv')
Ganjil_2016 = pd.read_csv('Data/Ganjil 2016/Data_Ganjil_2016.csv')
Ganjil_2017 = pd.read_csv('Data/Ganjil 2017/Data_Ganjil_2017.csv')
Ganjil_2018 = pd.read_csv('Data/Ganjil 2018/Data_Ganjil_2018.csv')
Ganjil_2019 = pd.read_csv('Data/Ganjil 2019/Data_Ganjil_2019.csv')
Ganjil_2020 = pd.read_csv('Data/Ganjil 2020/Data_Ganjil_2020.csv')

Genap_2011 = pd.read_csv('Data/Genap 2011/Data_Genap_2011.csv')
Genap_2012 = pd.read_csv('Data/Genap 2012/Data_Genap_2012.csv')
Genap_2013 = pd.read_csv('Data/Genap 2013/Data_Genap_2013.csv')
Genap_2014 = pd.read_csv('Data/Genap 2014/Data_Genap_2014.csv')
Genap_2015 = pd.read_csv('Data/Genap 2015/Data_Genap_2015.csv')
Genap_2016 = pd.read_csv('Data/Genap 2016/Data_Genap_2016.csv')
Genap_2017 = pd.read_csv('Data/Genap 2017/Data_Genap_2017.csv')
Genap_2018 = pd.read_csv('Data/Genap 2018/Data_Genap_2018.csv')
Genap_2019 = pd.read_csv('Data/Genap 2019/Data_Genap_2019.csv')
Genap_2020 = pd.read_csv('Data/Genap 2020/Data_Genap_2020.csv')

In [25]:
def hapus_kolom(dataframe):
    dataframe.drop(['Unnamed: 0', 'Nama', 'Universitas', 'Program_Studi'], axis=1, inplace=True)

def hapus_kolom_beda(dataframe):
    dataframe.drop(['Unnamed: 0', 'Nama', 'Program_Studi'], axis=1, inplace=True)

def ubah_kolom(dataframe):
    dataframe.reset_index(drop=True, inplace=True)
    first_column = dataframe.pop('Nim')
    dataframe.insert(0, 'Nim', first_column)

In [26]:
hapus_kolom(Ganjil_2011)
hapus_kolom(Ganjil_2012)
hapus_kolom(Ganjil_2013)
hapus_kolom(Ganjil_2014)
hapus_kolom(Ganjil_2015)
hapus_kolom(Ganjil_2016)
hapus_kolom(Ganjil_2017)
hapus_kolom_beda(Ganjil_2018)
hapus_kolom_beda(Ganjil_2019)
hapus_kolom_beda(Ganjil_2020)

hapus_kolom(Genap_2011)
hapus_kolom(Genap_2012)
hapus_kolom(Genap_2013)
hapus_kolom(Genap_2014)
hapus_kolom(Genap_2015)
hapus_kolom_beda(Genap_2016)
hapus_kolom(Genap_2017)
hapus_kolom_beda(Genap_2018)
hapus_kolom_beda(Genap_2019)
hapus_kolom_beda(Genap_2020)

ubah_kolom(Ganjil_2011)
ubah_kolom(Ganjil_2012)
ubah_kolom(Ganjil_2013)
ubah_kolom(Ganjil_2014)
ubah_kolom(Ganjil_2015)
ubah_kolom(Ganjil_2016)
ubah_kolom(Ganjil_2017)
ubah_kolom(Ganjil_2018)
ubah_kolom(Ganjil_2019)
ubah_kolom(Ganjil_2020)

ubah_kolom(Genap_2011)
ubah_kolom(Genap_2012)
ubah_kolom(Genap_2013)
ubah_kolom(Genap_2014)
ubah_kolom(Genap_2015)
ubah_kolom(Genap_2016)
ubah_kolom(Genap_2017)
ubah_kolom(Genap_2018)
ubah_kolom(Genap_2019)
ubah_kolom(Genap_2020)

In [27]:
hasil_2011 = Ganjil_2011.append(Genap_2011)
hasil_2012 = Ganjil_2012.append(Genap_2012)
hasil_2013 = Ganjil_2013.append(Genap_2013)
hasil_2014 = Ganjil_2014.append(Genap_2014)
hasil_2015 = Ganjil_2015.append(Genap_2015)
hasil_2016 = Ganjil_2016.append(Genap_2016)
hasil_2017 = Ganjil_2017.append(Genap_2017)
hasil_2018 = Ganjil_2018.append(Genap_2018)
hasil_2019 = Ganjil_2019.append(Genap_2019)
hasil_2020 = Ganjil_2020.append(Genap_2020)

In [28]:
frames = [hasil_2011, hasil_2012, hasil_2013, hasil_2014, hasil_2015, hasil_2016, hasil_2017, hasil_2018, hasil_2019,
            hasil_2020]
result = pd.concat(frames)

In [29]:
result

,Nim,Jenis_Kelamin,Tahun_Masuk,Status_Awal_Mahasiswa,Status_Akhir_Mahasiswa
0,843061,laki-laki,2008 ganjil,peserta didik baru,lulus
1,1143048,perempuan,2011 ganjil,peserta didik baru,lulus
2,1143109,laki-laki,2011 ganjil,peserta didik baru,mengundurkan diri
3,843034,laki-laki,2008 ganjil,peserta didik baru,lulus
4,743182,laki-laki,2007 ganjil,peserta didik baru,lulus
...,...,...,...,...,...
867,1943906,laki-laki,2019 genap,pindahan,aktif
868,1943007,laki-laki,2019 ganjil,peserta didik baru,aktif
869,1643045,laki-laki,2016 ganjil,peserta didik baru,aktif
870,1943111,laki-laki,2019 ganjil,peserta didik baru,aktif
871,2043121,laki-laki,2020 ganjil,peserta didik baru,aktif

In [30]:
result.rename(columns={'Nim':'nim'}, inplace=True)
result.drop_duplicates(subset=['nim'], inplace=True)
result.reset_index(drop=True, inplace=True)

In [31]:
result

,nim,Jenis_Kelamin,Tahun_Masuk,Status_Awal_Mahasiswa,Status_Akhir_Mahasiswa
0,843061,laki-laki,2008 ganjil,peserta didik baru,lulus
1,1143048,perempuan,2011 ganjil,peserta didik baru,lulus
2,1143109,laki-laki,2011 ganjil,peserta didik baru,mengundurkan diri
3,843034,laki-laki,2008 ganjil,peserta didik baru,lulus
4,743182,laki-laki,2007 ganjil,peserta didik baru,lulus
...,...,...,...,...,...
2251,2043913,perempuan,2020 genap,alih jenjang,aktif
2252,2043915,laki-laki,2020 genap,pindahan,aktif
2253,2043916,perempuan,2020 genap,alih jenjang,aktif
2254,2043914,laki-laki,2020 genap,pindahan,aktif
2255,2043917,laki-laki,2020 genap,alih jenjang,aktif

In [32]:
result.to_csv('2. Data Hasil/Status_Mhs.csv', index=False)